<style>
    *{
        margin: 0;
        padding: 0;
    }
    img{
        width: 100%;
        height:200px;
    }

    .aboutme-content{
        padding-bottom: 20px;
        border: 1px solid #ccc;
        margin-bottom:20px;
        width:400px;
    }

    p{
        margin:0;
    }

    .aboutme-description{
        margin: 10px 20px;
    }

</style>

<div class="aboutme-content">
    <img src="https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/about-bg.jpg" alt="Alternate Text" />
    <div class="aboutme-description">
        <h4>About Me!</h4>
        <p> Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest</p>
    </div>
</div>
